.card{
    margin: 12px;
    text-align: center;
}
.card-img-top{
    transition-delay: 0.1s;
}
.card-img-top:hover{
    width: 101%;
}
.row{
    margin: 0 auto;
  justify-content: center;
}
.remove-member{
    position: absolute; 
    width: 25px; 
    border: none; 
    right: 0px;
}
.file-upload-container {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #3F51B5;
    user-select: none;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-align: center;
    color: white;
    line-height: 50px;
    font-weight: 300;
    font-size: 20px;
}

.file-upload-container:hover {
    cursor: pointer;
    background: #3949AB;
}
.card{
    height: 450px;
}
.card .card-header{
    height: 70%;
}
.card .card-header img{
    height: 100%;
}
#edit-major, #major{
    width: calc(100% - 2rem);
    margin-left: 2rem;
    border: none;
    border-bottom: 1px solid #ced4da;
}
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1340px;
}
.btn-primary {
    color: #fff;
    background-color: #4285F4 !important; 
    border-color: #4285F4 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9 !important;
    /* border-color: #0062cc; */
}
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #4285F4 !important;
}
.bg-primary {
    background-color: #0069d9!important;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #0069d9;
}
.animation-example {
    animation-name: example;
    animation-duration: 0.5s;
}
  
@keyframes example {
0%   {margin-right:-20px;}
25%  {margin-right: auto;}
from{opacity: 0;}
to{opacity: 1;}
}