i{
  width: 40px;
}
#name-input, #schoolname-input{
  display: inline;
  width: 60%;
  margin-bottom: 5px;
}
.btn-primary {
  color: #fff;
  background-color: #4285F4 !important; 
  border-color: #4285F4 !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9 !important;
  /* border-color: #0062cc; */
}
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
  background-color: #4285F4 !important;
}
.bg-primary {
  background-color: #0069d9!important;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #0069d9;
}
input::placeholder{
  font-style: italic;
}
.avatar {
  border-right: 2px #EAEAEA solid;
}

.modal-dialog {
  width: auto;
  margin: .5rem auto;
  pointer-events: none;
}
@media (min-width: 576px){
  .modal-dialog {
      max-width: 1250px;
      margin: 1.75rem auto;
  }
}
.modal-content{
  margin: 0 auto;
  width: 90%;
  height: auto;
}
.modal{
  padding-right: 0!important;

}
.container, .card{
  height: 100%;
  width: 100%;
  text-align: center;
}
/* .avatar img {
  height: 220px;
  width: 180px;
} */
/* img {
  max-width: 100%;
  border-radius: 1px;
  vertical-align: middle;
  border-style: none;
}
.container-img{
  width: 50%;
  margin: 0 auto;
} */
/* #qrcode{
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0px;
  right: 0px;
} */
@media print{
  nav, header, footer, section, .modal-content .modal-header{
      display: none;
  }
  #print-content{
      display: block;

  }
  
}

.profile-card{
  margin: 0.8rem;
  width: 20rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px #00000070;
  background: url(../the-thi-sinh.jpg);
  background-size: 100% 100%;
}
  
.box-image{
  width: 8rem;
  height: 9.5rem;
  position: relative;
  border: 5px solid #ef0037;
  text-align: center;
  margin-top: 10rem;
  margin-left: 6rem;
  background-image: url(../default-user-image.png);
  background-size: 100% 100%;
  }   
/* #avatar{
  width: 100%;
  height: 100%;  
  padding-bottom: 130%; 
  margin-bottom: -38%;
  background: url(../default-user-image.png);
  background-size: 100% 100% !important;
  border: 5px solid pink;
} */

.pic {
  width: 75px;
  height: 75px;
  margin: auto;
  border-radius: 5px;
  padding: 3px;
  position: absolute;
}

@keyframes wave {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.name {
  font-size: 0.7rem;
}
.schoolname {
  font-size: 0.7rem;
}
.nganhthi {
  font-size: 0.7rem;
}
.masothisinh {
  font-size: 0.7rem;
}
.phongthi {
  font-size: 0.7rem;
}
.cathi {
  font-size: 0.7rem;
}
.bottom-section {
  padding-bottom: 3rem;
  padding-left: 7rem;
  color: #ef0037;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
}
.bottom-section > div {
  padding-top: 4px;
}
.bottom-section > div > div {
  color: #495057;
  /* font-size: 20px; */
}
.qr-section {
  width: 85px;
  height: auto;
  position: absolute;
  bottom: 78px;
  left: 22px;
}

.border {
  width: 1px;
  height: 20px;
  background: #bbb;
  margin: 0 30px;
}

.bottom-section span {
  display: block;
}

.modal-footer {
    text-align: center;
    /* display: flex; */
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 1rem;
    border-top: 0 solid #dee2e6;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}