i{
    width: 40px;
}
#phone-input, #name-input, #email{
    display: inline;
    width: 60%;
    margin-bottom: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #4285F4 !important; 
    border-color: #4285F4 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9 !important;
    /* border-color: #0062cc; */
}
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #4285F4 !important;
}
.bg-primary {
    background-color: #0069d9!important;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #0069d9;
}
input::placeholder{
    font-style: italic;
}
.avatar {
    border-right: 2px #EAEAEA solid;
}

.modal-dialog {
    width: auto;
    margin: .5rem auto;
    pointer-events: none;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 1250px;
        margin: 1.75rem auto;
    }
}
.modal-content{
    margin: 0 auto;
    width: 90%;
}
.modal{
    padding-right: 0!important;
}
.card{
    margin-bottom: 50px;
}
.avatar img {
    height: 220px;
    width: 180px;
}
img {
    max-width: 100%;
    border-radius: 1px;
    vertical-align: middle;
    border-style: none;
}
.container-img{
    width: 50%;
    margin: 0 auto;
}
#qrcode{
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0px;
    right: 0px;
}
@media print{
    nav, header, footer, section, .modal-content .modal-header{
        display: none;
    }
    #print-content{
        display: block;

    }
    
}